html {
    height: 100%;
    margin: 0;
    font-family: "Noto Sans Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: rgb(36, 36, 36);
    color: white;
}

body {
    margin: 2em;
}

h1 {
    display: inline-flex;
    margin: 0px;
}

#pingWidget {
    display: inline-flex;
    margin: 0px 0px 15px 0px;
    float: right;
}

#pingWidget #hostname {
    padding: 0px 1em;
}

#pingWidget .pingTime {
    color: grey;
}